#root {
	max-width: 1920px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.taskItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  &:hover {
    background-color: #f0f0f0;
  }
  &:active {
    background-color: #e0e0e0;
  }
}
