#root {
	max-width: 1920px;
	margin: 0 auto;
	// padding: 0.5rem;
}

$red-muted: #faafa8;
$yellow-warm: #fff8b8;
$green-light: #e2f6d3;

.red {
	background: $red-muted !important;
}
.yellow {
	background: $yellow-warm !important;
}
.green {
	background: $green-light !important;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	padding: unset;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
  box-shadow: 0 6px 8px rgba(22,119,255,0.15);
}

.itemStyle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.boardItem {
	@extend .itemStyle;
	padding: 1.5rem 0.5rem;
}

.taskItem {
	@extend .itemStyle;
	padding: 1rem 0.5rem;
	cursor: pointer;

	&:hover {
		background-color: #f0f0f0;
	}
	&:active {
		background-color: #e0e0e0;
	}
}

.cardItem {
	@extend .taskItem;
	&:hover {
		box-shadow:
			0 1px 2px 0 rgba(60, 64, 67, 0.3),
			0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
	}
}

.boardPageId {
	text-align: start;
	&__columns {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__column {
		flex: 1;
		background: #f5f5f5;
		border-radius: 8px;
	}
}

.search {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;

	&__input {
		flex: 1;
		min-width: 280px;
	}

	&__filters {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}
}

.ant-modal-footer {
	display: none;
}

.formBtn {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.footerTasks {
	padding: 1rem;
	text-align: end;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f5f5f5;
}

@media (min-width: 576px) {
	.boardItem {
		flex-direction: row;
	}

	.boardPageId {
		&__columns {
			flex-direction: row;
		}
	}
}

@media (min-width: 768px) {
	.boardItem {
		padding: 1.5rem 1rem;
	}

	.taskItem {
		padding: 1rem;
	}
}
