#root {
	max-width: 1920px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boardItem {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.taskItem {
  display: flex;
  flex-direction: column;
  align-items: start;
	@extend .boardItem;
	cursor: pointer;
	padding: 1rem;
	&:hover {
		background-color: #f0f0f0;
	}
	&:active {
		background-color: #e0e0e0;
	}
}

.boardPageId {
  text-align: start;
	&__columns {
		display: flex;
		gap: 1rem;
	}
	&__column {
		flex: 1;
		background: #f5f5f5;
		border-radius: 8px;
	}
}
